<!-- for legacy browsers add compatibility.js -->
<!--<script src="../compatibility.js"></script>-->

<script src="../pdfjs/build/pdf.js" data-manual></script>
<script src="../pdfjs/build/pdf.worker.js" data-manual></script>

<link rel="stylesheet" href="../pdfjs/web/viewer.css">
